html {
 color: White;
 font-size: 15px;
 font-family: verdana;
 font-style: italic;
 }
 
h1 {
 color: White;
 font-size: 22px;
 font-family: verdana;
 font-syle : normal;
 text-transform: uppercase;
 text-decoration: underline;
 }
  
html {
  background-color: Gainsboro;
 
}

body {
  background-color: SlateGrey;
  margin: 100px 100px 100px 100px;
  padding-top: 5px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 5px;
  border-radius: 25px;
}

p {
 text-align: justify;
}

Biere.jpg {
 position:absolute; top 300px; left 50px;
}
 
