html {
 color: RoyalBlue;
 font-size: 15px;
 font-family: verdana;
 font-syle : italic;
 }
 
h1 {
 color: Red;
 font-size: 25px;
 font-family: verdana;
 font-syle : normal;
 text-transform: uppercase;
 text-decoration:inderline;
 }
  
