html {
 color: White;
 font-size: 15px;
 font-family: verdana;
 font-style: italic;
 }
 
h1 {
 color: RoyalBlue;
 font-size: 22px;
 font-family: verdana;
 font-syle : normal;
 text-transform: uppercase;
 text-decoration: underline;
 }
  
html {
  background-color: CadetBlue;
 
}

body {
  background-color: AliceBlue;
  margin: 0 auto;
}
